training/*/images/*.jpg
training/*/labels/*.jpg
training/remaining/*.jpg
.ipynb_checkpoints
__pycache__
dhSegment
pretrained_models/*.ckpt
model/
data/images/*.jpg
data/trigs
output
.env
docker-compose.override.yml
*.csv
!data/image.csv